.a-propos {
    padding-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color1);
    color: var(--color3);
}

.a-propos h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--color2);
    padding-top: 5rem;
    font-size: 3.5rem;
    font-weight: 500;
}

.a-propos-entete {
    display: flex;
    flex-direction: column;
    max-width: 64vw;
    padding: 2.7rem;
    margin-bottom: 5rem;
    border-right: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
}

.a-propos-entete p {
    font-size: 1.1rem;
    max-width: 47rem;
}

.a-propos h2 {
    font-weight: 500;
    text-align: center;
    padding: 2.3rem 0 6rem 0;
    
}

ul {
    font-size: 1.1rem;
    padding-left: 2rem;
}

.bouton {
    font-size: 0.95rem;
    padding: 1.4rem 1.6rem;
}

caption {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-weight: 500;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    table-layout: fixed; /* Empêche la largeur des colonnes de changer dynamiquement */
    width: 91.5%; /* Assure que le tableau prend toute la largeur disponible */
}

th, td {
    border: 1px solid var(--color2);
    text-align: center;
}

th {
    padding: 1rem;
}

td {
    padding: 5rem;
}

th:nth-child(1), td:nth-child(1) {
    width: 44%; /* Première colonne plus large */
}

th:nth-child(2), td:nth-child(2) {
    width: 26%; /* Deuxième colonnes beaucoup plus étroites */
}

th:nth-child(3), td:nth-child(3) {
    width: 30%; /* Troisième colonnes plus étroites */
}


/* RESPONSIVE */
@media screen and (max-width: 1042px) {
    table {
        display: none; /* supprime le tableau affichant les tarifs */
    }

    .a-propos h1 {
        font-size: 2rem;
        padding-top: 3rem;
    }

    .a-propos h2 {
        padding-bottom: 5rem;
    }

    .a-propos-entete p {
        min-width: 14rem;
    }
}