section {
    background-color: #1f2039;
    color: white;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: #a5b4fc;
}

ul {
    border-right: 1px solid #a5b4fc;
    border-bottom: 1px solid #a5b4fc;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #a5b4fc;
}

