section {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2039;
    color: white;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: #a5b4fc;
}

.a-propos-entete {
    max-width: 60rem;
    border-right: 1px solid #a5b4fc;
    border-bottom: 1px solid #a5b4fc;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #a5b4fc;
}

th {
    padding: 1rem 16rem;
}

td {
    padding: 4rem;
}