.intro, .formulaire { 
    background: var(--color1);
    color: var(--color3);
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 28rem;
    gap: 4rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 3.5rem;
}

.intro p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    margin-top: 0;
    max-width: 31rem;
    min-width: 31rem;
}

h1,
h3 {
    font-family: "Montserrat", sans-serif;
    color: var(--color2);
}

h2 {
    margin: 3em;
    text-align: center;
    font-weight: 500;
}

em {
    font-style: normal;
    color: var(--color2);
}

.bouton {
    padding: 1.2rem 1.8rem;
}

.extrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
.extrait img {
    padding: 0.4rem;
}

h3 {
    font-size: 1.5rem;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.formulaire label {
    min-width: 31rem;
}

.form-header {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Ajoute un espace entre les deux inputs */
    padding-bottom: 1.5rem;
    padding-top: 2.5rem;
}

.form-header input,
textarea {
    margin-top: 0.5rem;
    border-radius: 5px;
    border: transparent;
}

.form-name {
    display: flex;
    flex-direction: column;
}

.form-mail {
    display: flex;
    flex-direction: column;
}

.form-message {
display: flex;
flex-direction: column;
}

textarea {
    padding: 1rem;
    height: 9rem;
    margin-bottom: 2rem;
}

#form-envoyer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-envoyer input {
    padding: 1.2rem 4rem;
}

input {
    padding: 1rem;
}


/* RESPONSIVE */
@media screen and (max-width: 1042px) {

    .intro {
        flex-direction: column-reverse;
        align-items: center;
        padding: 3.2rem 0;
        gap: 1.2rem;
    }

    .intro img, 
    .extrait img {
        padding: 0 1.5rem;
    }

    .intro img {
        width: 100%;
    }

    h1, .intro p {
        text-align: center;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .intro p {
        margin-bottom: 3rem;
        max-width: 100%;
        padding: 0 2rem;
    }

    .intro .bouton {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 15.65rem;
    }

    h2 {
        margin-top: 1.5rem;
    }

    .photo-du-haut,
    .photo-du-bas {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-header {
        flex-direction: column;
    }

    .formulaire label {
        min-width: 93.4vw;
    }
}