.intro, .formulaire { 
    background-color: #1f2039;
    color: white;
}

.intro {
    display: flex;
    padding: 30px;
}

.intro div {
    flex-direction: column;
}

h1,
h3 {
    font-family: "Montserrat", sans-serif;
    color: #a5b4fc;
}

div p

em {
    font-style: normal;
    color: #a5b4fc;
}

.extrait {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos input {
    border: none;
    color: white;
    background: white;
    border-radius: 30px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}