h1 {
    background: var(--color1);
    color:var(--color2);
    padding: 4.7rem 5rem;
}

.tirage {
    padding: 0 5rem;
}

h2, h3 {
    font-size: 1.6rem;
}

h2 {
    padding: 5rem 0rem;
}

h3 {
    padding-bottom: 5rem;
}

.tirage-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18.75rem 18.75rem 18.75rem;
    gap: 1rem;
}

.tirage-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18.75rem 18.75rem;
    gap: 1rem;
}

.tirage-top img,
.tirage-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tirage-agrandir {
    position: relative; /* sert de référence à positon: absolute */
}

.tirage-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--color3);
    background: black;
    opacity: 0; /* Cache l'élément */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Pour une transition douce */
}

.tirage-agrandir:hover .tirage-hover {
    opacity: 0.7; /* Fais apparaître l'élément avec une opacité de 70% */
}