h1 {
    background-color: #1f2039;
    color:#a5b4fc;
    margin: 0;
    padding: 4.7rem 5rem;
}

h2, h3 {
    font-size: 1.6rem;
}

h2 {
    padding: 3.3rem 0.5rem;
}

h3 {
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    margin-top: -0.4rem;
}

.tirage img {
    margin: 0.8rem 0.4rem 0rem 0.4rem ;
    height: 19rem;
    width: 35.7rem;
    object-fit: cover;
}

.tirage {
    margin-left: 4.5rem;
    padding-bottom: 4.7rem;
}

